# Setup and configuration

In [2]:
import sys ,os
p = os.path.abspath('../..')
if p not in sys.path:
    sys.path.append(p)

In [58]:
import configparser
import glob
import pandas as pd
import numpy as np
import nibabel as nib
import matplotlib.pyplot as plt
import pydicom
from TFM_MUIT.utils import *

In [59]:
config = configparser.ConfigParser()
config.read("../config.ini")

['../config.ini']

# CNCB_COVID_CT

In [64]:
CNCB_COVID_CT_PATH = config["PATHS"]["CNCB_COVID_CT"]
CNCB_COVID_CT_METADATA_PATH = os.path.join(CNCB_COVID_CT_PATH, "metadata.csv")
CNCB_COVID_CT_UNZIP_FILENAMES_PATH = os.path.join(CNCB_COVID_CT_PATH, "unzip_filenames.csv")
print(CNCB_COVID_CT_PATH)

/Volumes/Alvaro3TB/Covid/CNCB_COVID_CT/

In [63]:
cncb_covid_ct_metadata = pd.read_csv(CNCB_COVID_CT_METADATA_PATH)
cncb_covid_ct_metadata.head()

,patient_id,scan_id,Age,Sex(Male1/Female2),Critical_illness,Liver_function,Lung_function,Progression (Days)
0,1399,127,57.0,1.0,1,5.0,2.0,0.08
1,1297,82,55.0,1.0,1,3.0,2.0,0.88
2,2255,549,3.0,1.0,1,NaN,NaN,0.02
3,1184,26,5.0,2.0,1,0.0,2.0,0.02
4,1186,27,2.0,2.0,1,2.0,2.0,0.02

In [66]:
cncb_unzip_filenames = pd.read_csv(CNCB_COVID_CT_UNZIP_FILENAMES_PATH)
cncb_unzip_filenames.head()

   zip_file label  patient_id  scan_id  n_slice
0  CP-1.zip    CP           0     3131      285
1  CP-1.zip    CP           0     3132       42
2  CP-1.zip    CP           0     3133      290
3  CP-1.zip    CP           0     3134       37
4  CP-1.zip    CP           0     3135      269

In [67]:
cncb_unzip_filenames['label'].value_counts()

CP        1556
NCP       1544
Normal    1078
Name: label, dtype: int64

# TCIA-COVID-CT-INITIAL

In [21]:
TCIA_COVID_CT_INITIAL_PATH = config["PATHS"]["TCIA_COVID_CT_INITIAL"]

In [22]:
print(f"Num of series: {get_num_files(TCIA_COVID_CT_INITIAL_PATH)}")

Num of series: 650

# TCIA_COVID_CT_SERIAL

In [26]:
TCIA_COVID_CT_SERIAL_PATH = config["PATHS"]["TCIA_COVID_CT_SERIAL"]

In [27]:
print(f"Num of series: {get_num_files(TCIA_COVID_CT_SERIAL_PATH)}")

Num of series: 121

# MIDRC_RICORD_1A

In [7]:
MIDRC_RICORD_1A_PATH = config["PATHS"]["MIDRC_RICORD_1A"]
MIDRC_RICORD_1A_CLINICAL_DATA_PATH = os.path.join(MIDRC_RICORD_1A_PATH, "MIDRC-RICORD-1a Clinical Data Jan 13 2021.xlsx")
print(MIDRC_RICORD_1A_PATH)

/Volumes/Alvaro3TB/Covid/MIDRC_RICORD_1A/

In [9]:
midrc_ricord_1a_clinical_data = pd.read_excel(MIDRC_RICORD_1A_CLINICAL_DATA_PATH)
midrc_ricord_1a_clinical_data.head()

,Anon MRN,Anon Age,AnonTCIA Study Date,Anon Exam Description,Anon Sex,Anon Study UID,Anon Image Count,Modality,Result,Specimen Source
0,419639-000082,84.84,2002-08-02,CT CHEST WITHOUT CONTRAST,F,1.2.826.0.1.3680043.10.474.419639.312580455409...,1226,CT,DETECTED,Pooled NP/OP Swab
1,419639-000361,50.61,2002-10-21,CT CHEST WITHOUT CONTRAST,F,1.2.826.0.1.3680043.10.474.419639.426473907903...,1139,CT,DETECTED,Nasopharyngeal Swab
2,419639-000421,63.41,2006-12-05,CT CHEST WITHOUT CONTRAST,M,1.2.826.0.1.3680043.10.474.419639.308001698749...,965,CT,DETECTED,Nasopharyngeal Swab
3,419639-000582,63.93,2002-12-06,CT CHEST WITH CONTRAST,M,1.2.826.0.1.3680043.10.474.419639.317104088349...,1141,CT,DETECTED,Pooled NP/OP Swab
4,419639-000800,48.25,2005-05-11,CT CHEST WITHOUT CONTRAST,F,1.2.826.0.1.3680043.10.474.419639.119157449661...,1079,CT,DETECTED,NaN

In [32]:
midrc_ricord_1a_clinical_data[['Anon MRN', 'Anon Sex']].groupby("Anon MRN").agg(max).value_counts()

Anon Sex
M           69
F           41
dtype: int64

In [13]:
midrc_ricord_1a_clinical_data['Anon Age'].nunique()

59

# MIDRC_RICORD_1B

In [21]:
MIDRC_RICORD_1B_PATH = config["PATHS"]["MIDRC_RICORD_1B"]
MIDRC_RICORD_1B_CLINICAL_DATA_PATH = os.path.join(MIDRC_RICORD_1B_PATH, "MIDRC-RICORD-1b Clinical Data Feb 2021.xlsx")
print(MIDRC_RICORD_1B_PATH)

/Volumes/Alvaro3TB/Covid/MIDRC_RICORD_1B/

In [22]:
midrc_ricord_1b_clinical_data = pd.read_excel(MIDRC_RICORD_1B_CLINICAL_DATA_PATH)
midrc_ricord_1b_clinical_data.head()

,Anon MRN,Anon Age,Anon Study Date,Anon Exam Description,Anon Sex,Anon Study UID,Anon Image Count,Modality,Symptomatic,Result,Specimen Source
0,419639-000340,59.93,2005-01-18,CT CHEST HIGH RESOLUTION,F,1.2.826.0.1.3680043.10.474.419639.209133109710...,216,CT,YES,NOT DETECTED,Nasopharyngeal Swab
1,419639-000350,77.46,2006-02-09,CT CHEST WITHOUT CONTRAST,F,1.2.826.0.1.3680043.10.474.419639.856628220559...,225,CT,YES,NOT DETECTED,Nasopharyngeal Swab
2,419639-000425,78.10,2002-05-28,CT CHEST WITHOUT CONTRAST,M,1.2.826.0.1.3680043.10.474.419639.167137291084...,251,CT,YES,NOT DETECTED,Nasopharyngeal Swab
3,419639-000474,67.47,2009-03-30,CT CHEST PULMONARY EMBOLISM (CTPE),M,1.2.826.0.1.3680043.10.474.419639.142013724682...,241,CT,YES,NOT DETECTED,Pooled NP/OP Swab
4,419639-000485,35.53,2002-10-19,CT CHEST WITH CONTRAST,M,1.2.826.0.1.3680043.10.474.419639.112773344213...,205,CT,YES,NOT DETECTED,Nasopharyngeal Swab

In [33]:
midrc_ricord_1b_clinical_data[['Anon MRN', 'Anon Sex']].groupby("Anon MRN").agg(max).value_counts()

Anon Sex
F           61
M           56
dtype: int64

# COVID_19_AR

In [36]:
COVID_19_AR_PATH = config["PATHS"]["COVID_19_AR"]
print(COVID_19_AR_PATH)

/Volumes/Alvaro3TB/Covid/COVID_19_AR/

In [41]:
covid_19_ar_clinical_data = pd.read_excel(os.path.join(COVID_19_AR_PATH, "COVID-19 AR Clinical Correlates July202020.xlsx"), skiprows=1)
covid_19_ar_metadata = pd.read_csv(os.path.join(COVID_19_AR_PATH, "data", "metadata.csv"))

In [55]:
print(covid_19_ar_clinical_data.shape)
covid_19_ar_clinical_data.head(1)

(105, 32)

,PATIENT_ID,AGE,SEX,RACE,ZIP,LATEST_BMI,LATEST WEIGHT,LATEST HEIGHT,TUBERCULOSIS,SYSTEMIC LUPUS ERYTHMATOSUS,...,DIABETES TYPE II,TRANSPLANT,HEMODIALYSIS Pre Diagnosis,HEMODIALYSIS Post diagnosis,CANCER,COVID TEST POSITIVE,TEST NAME,ICU Admit,# ICU admits,MORTALITY
0,COVID-19-AR-16434409,51,M,BLACK OR AFRICAN AMERICAN,722,37.7,207.0,"5' 4""",N,N,...,Y,N,N,N,N,Y,SARS-CoV-2 (COVID-19),N,0,N

In [56]:
covid_19_ar_clinical_data['COVID TEST POSITIVE'].value_counts()

Y    105
Name: COVID TEST POSITIVE, dtype: int64

In [57]:
covid_19_ar_clinical_data['SEX'].value_counts()

F    53
M    52
Name: SEX, dtype: int64

In [43]:
covid_19_ar_metadata.head(1)

,Series UID,Collection,3rd Party Analysis,Data Description URI,Subject ID,Study UID,Study Description,Study Date,Series Description,Manufacturer,Modality,SOP Class Name,SOP Class UID,Number of Images,File Size,File Location,Download Timestamp
0,1.3.6.1.4.1.14519.5.2.1.9999.103.1313063663834...,COVID-19-AR,NO,https://doi.org/10.7937/tcia.2020.py715978,COVID-19-AR-16406488,1.3.6.1.4.1.14519.5.2.1.9999.103.2986119521997...,CT PE CHEST,02-14-2012,locator,Philips,CT,CT Image Storage,1.2.840.10008.5.1.4.1.1.2,1,527.81 KB,./COVID-19-AR/COVID-19-AR-16406488/02-14-2012-...,2023-04-10T13:03:37.319

In [49]:
covid_19_ar_metadata[["Modality", "Number of Images"]].groupby("Modality").agg(sum)

          Number of Images
Modality
CR                      26
CT                   31673
DX                     236

# Kaggle combined dataset